{% load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title >Hosting-SENAI</title>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            {% load static %}
            <link rel="stylesheet" type="text/css" href="{% static 'hosting/style.css' %}">
            
    </head>
    <body>
        <p style="align-items: center;"><img src = "{% static "hosting/Logo_SENAICIMATEC.png" %}" alt = "Logo SENAI CIMATEC"  width="150"
            height="50" ></p>
        <div class="topnav">
            <a class="active" href="{% url "hosting_list" %}">SENAI</a>
            <a href="{% url "hosting_fieb" %}">FIEB</a>
            <a href="{% url "servicos" %}">Serviços adicionais</a>
            <a href="{% url "tabela_preco" %}">Tabela de Preços</a>
            <a href="{% url "add_client" %}">Adicionar Cliente</a>
            <a href="{% url "financeiro_senai" %}">Financeiro</a>
            <a id="logout" href="{% url 'logout' %}">Logout</a>
            <div id="user">Bem vindo, {{ user.username }}</div>
        </div> 
        {% block content %} {% endblock %}
    </body>
    
</html>