<html lang="pt-br">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title >Adicionar Cliente</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'hosting/style.css' %}">
        <link rel="icon" type="image/png" href="{% static "hosting/Logo_SENAICIMATEC.png" %}">
</head>

<body style="background-color:rgb(187, 184, 184); font-family: 'Courier New', Courier, monospace;">
    <p style="align-items: center;"><img src = "{% static "hosting/Logo_SENAICIMATEC.png" %}" alt = "Logo SENAI CIMATEC"  width="150"
        height="50" ></p>
    {% block content %}
    {% if user.is_authenticated %}
    <div class="topnav">
            <a href="{% url 'hosting_list' %}">SENAI</a>
            <a href="{% url 'hosting_fieb' %}">FIEB</a>
            <a href="{% url 'servicos' %}">Serviços adicionais</a>
            <a href="{% url 'tabela_preco' %}">Tabela de Preços</a>
            <a class="active" href="{% url 'add_client' %}">Adicionar Cliente</a>
            <a href="{% url 'financeiro_senai' %}">Financeiro</a>
            <a id="logout" href="{% url 'logout' %}">Logout</a>
            <div id="user">Bem vindo, {{ user.username }}</div>
        </div> 
    <br/>
    <p style="word-wrap: break-word; width: 200;">Adicionar um novo Hosting. FIEB e SENAI.</p>
    <a class="button" href="{%url 'hosting_create' %}">Novo Servidor</a>

    <p style="margin-left: 350px; margin-top: -95px; word-wrap: break-word; width: 300;">Adicionar um novo Serviço adicional. FIEB e SENAI.</p>
    <a style="margin-left: 350px;" class="button" href="{%url 'servicos_adicionais' %}">Novo Serviço</a>

    <p style="margin-left: 700px; margin-top: -95px; word-wrap: break-word; width: 300;">Adicionar um novo serviço de Backup. FIEB e SENAI.</p>
    <a style="margin-left: 700px;" class="button" href="{%url 'backup_adicionais' %}">Novo Backup</a>
    {% else %}
    <p>You are not logged in</p>
    <a class="button" href="{% url 'login' %}">Login</a>
    {% endif %}
    {% endblock %}
</body>
</html>