<style type="text/css">
    body {
        background-color: rgb(187, 184, 184);
        font-family: 'Courier New', Courier, monospace;
    }

    .button {
        background-color: rgb(113, 114, 113);
        border: none;
        color: white;
        padding: 8px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button:hover
    {
        background-color: rgb(196, 117, 124);
    }
</style>
<body>
    <h1>Hosting Delete</h1>
    <form method="post">{% csrf_token %}
        Are you sure you want to delete "{{ object }}?
        <input type="submit" class="button" value="OK" />
    </form>
</body>