<html lang="pt-br">
<head>
    <title>Confirmação</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'hosting/style.css' %}">
    <link rel="icon" type="image/png" href="{% static "hosting/Logo_SENAICIMATEC.png" %}">
</head>
<script>
        function goBack() {
          window.history.back();
        }
        </script>

<body>
    <h1>Apagar backup</h1>
    <form method="post">{% csrf_token %}
        Are you sure you want to delete "{{ object.casa }}" - "{{ object.descricao }}"?
        <input type="submit" class="button" value="OK" />
    </form>
    <button class="button" onclick="goBack()">Cancelar</button>
</body>
</html>