<html lang="pt-br">
<head>
    {% if ambiente == 'senai' %}
    <title>Financeiro-SENAI</title>
    {% else %}
    <title>Financeiro-FIEB</title>
    {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'hosting/style.css' %}">
    <link rel="icon" type="image/png" href="{% static "hosting/Logo_SENAICIMATEC.png" %}">
</head>
<body style="background-color:rgb(187, 184, 184); font-family: 'Courier New', Courier, monospace;">
    <p style="align-items: center;"><img src = "{% static "hosting/Logo_SENAICIMATEC.png" %}" alt = "Logo SENAI CIMATEC"  width="150"
        height="50" ></p>
    {% block content %}
    {% if user.is_authenticated %}
    <div class="topnav">
            <a href="{% url "hosting_list" %}">SENAI</a>
            <a href="{% url "hosting_fieb" %}">FIEB</a>
            <a href="{% url "servicos" %}">Serviços adicionais</a>
            <a href="{% url "tabela_preco" %}">Tabela de Preços</a>
            <a href="{% url "add_client" %}">Adicionar Cliente</a>
            <a class="active" href="{% url "financeiro_senai" %}">Financeiro</a>
            <a id="logout" href="{% url 'logout' %}">Logout</a>
            <div id="user">Bem vindo, {{ user.username }}</div>
        </div> 
    <h1>FINANCEIRO</h1>
    <h2>{{ data }}</h2>
    <br/>
    <form method="GET">{% csrf_token %}
        <label>ANO: </label>
        <select name="ano">
            {% for ano in lista_anos %}
            <option value="{{ ano }}" selected="selected">{{ ano }}</option>
            {% endfor %}
        </select> 
        <label>MÊS INICIAL: </label>
        <select name="mesI" >
            {% if mes_i == 'January' %}
            <option selected= "selected" value="1">JANEIRO</option>
            <option value="2">FEVEREIRO</option>
            <option value="3">MARÇO</option>
            <option value="4">ABRIL</option>
            <option value="5">MAIO</option>
            <option value="6">JUNHO</option>
            <option value="7">JULHO</option>
            <option value="8">AGOSTO</option>
            <option value="9">SETEMBRO</option>
            <option value="10">OUTUBRO</option>
            <option value="11">NOVEMBRO</option>
            <option value="12">DEZEMBRO</option>
            {% elif mes_i == 'February' %}
            <option value="1">JANEIRO</option>
            <option selected= "selected" value="2">FEVEREIRO</option>
            <option value="3">MARÇO</option>
            <option value="4">ABRIL</option>
            <option value="5">MAIO</option>
            <option value="6">JUNHO</option>
            <option value="7">JULHO</option>
            <option value="8">AGOSTO</option>
            <option value="9">SETEMBRO</option>
            <option value="10">OUTUBRO</option>
            <option value="11">NOVEMBRO</option>
            <option value="12">DEZEMBRO</option>
            {% elif mes_i == 'March' %}
            <option value="1">JANEIRO</option>
            <option value="2">FEVEREIRO</option>
            <option selected= "selected" value="3">MARÇO</option>
            <option value="4">ABRIL</option>
            <option value="5">MAIO</option>
            <option value="6">JUNHO</option>
            <option value="7">JULHO</option>
            <option value="8">AGOSTO</option>
            <option value="9">SETEMBRO</option>
            <option value="10">OUTUBRO</option>
            <option value="11">NOVEMBRO</option>
            <option value="12">DEZEMBRO</option>
            {% elif mes_i == 'April' %}
            <option value="1">JANEIRO</option>
            <option value="2">FEVEREIRO</option>
            <option value="3">MARÇO</option>
            <option selected= "selected" value="4">ABRIL</option>
            <option value="5">MAIO</option>
            <option value="6">JUNHO</option>
            <option value="7">JULHO</option>
            <option value="8">AGOSTO</option>
            <option value="9">SETEMBRO</option>
            <option value="10">OUTUBRO</option>
            <option value="11">NOVEMBRO</option>
            <option value="12">DEZEMBRO</option>
            {% elif mes_i == 'May' %}
            <option value="1">JANEIRO</option>
            <option value="2">FEVEREIRO</option>
            <option value="3">MARÇO</option>
            <option value="4">ABRIL</option>
            <option selected= "selected" value="5">MAIO</option>
            <option value="6">JUNHO</option>
            <option value="7">JULHO</option>
            <option value="8">AGOSTO</option>
            <option value="9">SETEMBRO</option>
            <option value="10">OUTUBRO</option>
            <option value="11">NOVEMBRO</option>
            <option value="12">DEZEMBRO</option>
            {% elif mes_i == 'June' %}
            <option value="1">JANEIRO</option>
            <option value="2">FEVEREIRO</option>
            <option value="3">MARÇO</option>
            <option value="4">ABRIL</option>
            <option value="5">MAIO</option>
            <option selected= "selected" value="6">JUNHO</option>
            <option value="7">JULHO</option>
            <option value="8">AGOSTO</option>
            <option value="9">SETEMBRO</option>
            <option value="10">OUTUBRO</option>
            <option value="11">NOVEMBRO</option>
            <option value="12">DEZEMBRO</option>
            {% elif mes_i == 'July' %}
            <option value="1">JANEIRO</option>
            <option value="2">FEVEREIRO</option>
            <option value="3">MARÇO</option>
            <option value="4">ABRIL</option>
            <option value="5">MAIO</option>
            <option value="6">JUNHO</option>
            <option selected= "selected" value="7">JULHO</option>
            <option value="8">AGOSTO</option>
            <option value="9">SETEMBRO</option>
            <option value="10">OUTUBRO</option>
            <option value="11">NOVEMBRO</option>
            <option value="12">DEZEMBRO</option>
            {% elif mes_i == 'August' %}
            <option value="1">JANEIRO</option>
            <option value="2">FEVEREIRO</option>
            <option value="3">MARÇO</option>
            <option value="4">ABRIL</option>
            <option value="5">MAIO</option>
            <option value="6">JUNHO</option>
            <option value="7">JULHO</option>
            <option selected= "selected" value="8">AGOSTO</option>
            <option value="9">SETEMBRO</option>
            <option value="10">OUTUBRO</option>
            <option value="11">NOVEMBRO</option>
            <option value="12">DEZEMBRO</option>
            {% elif mes_i == 'September' %}
            <option value="1">JANEIRO</option>
            <option value="2">FEVEREIRO</option>
            <option value="3">MARÇO</option>
            <option value="4">ABRIL</option>
            <option value="5">MAIO</option>
            <option value="6">JUNHO</option>
            <option value="7">JULHO</option>
            <option value="8">AGOSTO</option>
            <option selected= "selected" value="9">SETEMBRO</option>
            <option value="10">OUTUBRO</option>
            <option value="11">NOVEMBRO</option>
            <option value="12">DEZEMBRO</option>
            {% elif mes_i == 'October' %}
            <option value="1">JANEIRO</option>
            <option value="2">FEVEREIRO</option>
            <option value="3">MARÇO</option>
            <option value="4">ABRIL</option>
            <option value="5">MAIO</option>
            <option value="6">JUNHO</option>
            <option value="7">JULHO</option>
            <option value="8">AGOSTO</option>
            <option value="9">SETEMBRO</option>
            <option selected= "selected" value="10">OUTUBRO</option>
            <option value="11">NOVEMBRO</option>
            <option value="12">DEZEMBRO</option>
            {% elif mes_i == 'November' %}
            <option value="1">JANEIRO</option>
            <option value="2">FEVEREIRO</option>
            <option value="3">MARÇO</option>
            <option value="4">ABRIL</option>
            <option value="5">MAIO</option>
            <option value="6">JUNHO</option>
            <option value="7">JULHO</option>
            <option value="8">AGOSTO</option>
            <option value="9">SETEMBRO</option>
            <option value="10">OUTUBRO</option>
            <option selected= "selected" value="11">NOVEMBRO</option>
            <option value="12">DEZEMBRO</option>
            {% elif mes_i == 'December' %}
            <option value="1">JANEIRO</option>
            <option value="2">FEVEREIRO</option>
            <option value="3">MARÇO</option>
            <option value="4">ABRIL</option>
            <option value="5">MAIO</option>
            <option value="6">JUNHO</option>
            <option value="7">JULHO</option>
            <option value="8">AGOSTO</option>
            <option value="9">SETEMBRO</option>
            <option value="10">OUTUBRO</option>
            <option value="11">NOVEMBRO</option>
            <option selected= "selected" value="12">DEZEMBRO</option>
            {%else%}
            <option selected= "selected" value="1">JANEIRO</option>
            <option value="2">FEVEREIRO</option>
            <option value="3">MARÇO</option>
            <option value="4">ABRIL</option>
            <option value="5">MAIO</option>
            <option value="6">JUNHO</option>
            <option value="7">JULHO</option>
            <option value="8">AGOSTO</option>
            <option value="9">SETEMBRO</option>
            <option value="10">OUTUBRO</option>
            <option value="11">NOVEMBRO</option>
            <option value="12">DEZEMBRO</option>
            {% endif %}
        </select>
        <label>MÊS FINAL: </label>
        <select name="mesF" >
            {% if mes_atual == 'January' %}
            <option selected= "selected" value="1">JANEIRO</option>
            <option value="2">FEVEREIRO</option>
            <option value="3">MARÇO</option>
            <option value="4">ABRIL</option>
            <option value="5">MAIO</option>
            <option value="6">JUNHO</option>
            <option value="7">JULHO</option>
            <option value="8">AGOSTO</option>
            <option value="9">SETEMBRO</option>
            <option value="10">OUTUBRO</option>
            <option value="11">NOVEMBRO</option>
            <option value="12">DEZEMBRO</option>
            {% elif mes_atual == 'February' %}
            <option value="1">JANEIRO</option>
            <option selected= "selected" value="2">FEVEREIRO</option>
            <option value="3">MARÇO</option>
            <option value="4">ABRIL</option>
            <option value="5">MAIO</option>
            <option value="6">JUNHO</option>
            <option value="7">JULHO</option>
            <option value="8">AGOSTO</option>
            <option value="9">SETEMBRO</option>
            <option value="10">OUTUBRO</option>
            <option value="11">NOVEMBRO</option>
            <option value="12">DEZEMBRO</option>
            {% elif mes_atual == 'March' %}
            <option value="1">JANEIRO</option>
            <option value="2">FEVEREIRO</option>
            <option selected= "selected" value="3">MARÇO</option>
            <option value="4">ABRIL</option>
            <option value="5">MAIO</option>
            <option value="6">JUNHO</option>
            <option value="7">JULHO</option>
            <option value="8">AGOSTO</option>
            <option value="9">SETEMBRO</option>
            <option value="10">OUTUBRO</option>
            <option value="11">NOVEMBRO</option>
            <option value="12">DEZEMBRO</option>
            {% elif mes_atual == 'April' %}
            <option value="1">JANEIRO</option>
            <option value="2">FEVEREIRO</option>
            <option value="3">MARÇO</option>
            <option selected= "selected" value="4">ABRIL</option>
            <option value="5">MAIO</option>
            <option value="6">JUNHO</option>
            <option value="7">JULHO</option>
            <option value="8">AGOSTO</option>
            <option value="9">SETEMBRO</option>
            <option value="10">OUTUBRO</option>
            <option value="11">NOVEMBRO</option>
            <option value="12">DEZEMBRO</option>
            {% elif mes_atual == 'May' %}
            <option value="1">JANEIRO</option>
            <option value="2">FEVEREIRO</option>
            <option value="3">MARÇO</option>
            <option value="4">ABRIL</option>
            <option selected= "selected" value="5">MAIO</option>
            <option value="6">JUNHO</option>
            <option value="7">JULHO</option>
            <option value="8">AGOSTO</option>
            <option value="9">SETEMBRO</option>
            <option value="10">OUTUBRO</option>
            <option value="11">NOVEMBRO</option>
            <option value="12">DEZEMBRO</option>
            {% elif mes_atual == 'June' %}
            <option value="1">JANEIRO</option>
            <option value="2">FEVEREIRO</option>
            <option value="3">MARÇO</option>
            <option value="4">ABRIL</option>
            <option value="5">MAIO</option>
            <option selected= "selected" value="6">JUNHO</option>
            <option value="7">JULHO</option>
            <option value="8">AGOSTO</option>
            <option value="9">SETEMBRO</option>
            <option value="10">OUTUBRO</option>
            <option value="11">NOVEMBRO</option>
            <option value="12">DEZEMBRO</option>
            {% elif mes_atual == 'July' %}
            <option value="1">JANEIRO</option>
            <option value="2">FEVEREIRO</option>
            <option value="3">MARÇO</option>
            <option value="4">ABRIL</option>
            <option value="5">MAIO</option>
            <option value="6">JUNHO</option>
            <option selected= "selected" value="7">JULHO</option>
            <option value="8">AGOSTO</option>
            <option value="9">SETEMBRO</option>
            <option value="10">OUTUBRO</option>
            <option value="11">NOVEMBRO</option>
            <option value="12">DEZEMBRO</option>
            {% elif mes_atual == 'August' %}
            <option value="1">JANEIRO</option>
            <option value="2">FEVEREIRO</option>
            <option value="3">MARÇO</option>
            <option value="4">ABRIL</option>
            <option value="5">MAIO</option>
            <option value="6">JUNHO</option>
            <option value="7">JULHO</option>
            <option selected= "selected" value="8">AGOSTO</option>
            <option value="9">SETEMBRO</option>
            <option value="10">OUTUBRO</option>
            <option value="11">NOVEMBRO</option>
            <option value="12">DEZEMBRO</option>
            {% elif mes_atual == 'September' %}
            <option value="1">JANEIRO</option>
            <option value="2">FEVEREIRO</option>
            <option value="3">MARÇO</option>
            <option value="4">ABRIL</option>
            <option value="5">MAIO</option>
            <option value="6">JUNHO</option>
            <option value="7">JULHO</option>
            <option value="8">AGOSTO</option>
            <option selected= "selected" value="9">SETEMBRO</option>
            <option value="10">OUTUBRO</option>
            <option value="11">NOVEMBRO</option>
            <option value="12">DEZEMBRO</option>
            {% elif mes_atual == 'October' %}
            <option value="1">JANEIRO</option>
            <option value="2">FEVEREIRO</option>
            <option value="3">MARÇO</option>
            <option value="4">ABRIL</option>
            <option value="5">MAIO</option>
            <option value="6">JUNHO</option>
            <option value="7">JULHO</option>
            <option value="8">AGOSTO</option>
            <option value="9">SETEMBRO</option>
            <option selected= "selected" value="10">OUTUBRO</option>
            <option value="11">NOVEMBRO</option>
            <option value="12">DEZEMBRO</option>
            {% elif mes_atual == 'November' %}
            <option value="1">JANEIRO</option>
            <option value="2">FEVEREIRO</option>
            <option value="3">MARÇO</option>
            <option value="4">ABRIL</option>
            <option value="5">MAIO</option>
            <option value="6">JUNHO</option>
            <option value="7">JULHO</option>
            <option value="8">AGOSTO</option>
            <option value="9">SETEMBRO</option>
            <option value="10">OUTUBRO</option>
            <option selected= "selected" value="11">NOVEMBRO</option>
            <option value="12">DEZEMBRO</option>
            {% elif mes_atual == 'December' %}
            <option value="1">JANEIRO</option>
            <option value="2">FEVEREIRO</option>
            <option value="3">MARÇO</option>
            <option value="4">ABRIL</option>
            <option value="5">MAIO</option>
            <option value="6">JUNHO</option>
            <option value="7">JULHO</option>
            <option value="8">AGOSTO</option>
            <option value="9">SETEMBRO</option>
            <option value="10">OUTUBRO</option>
            <option value="11">NOVEMBRO</option>
            <option selected= "selected" value="12">DEZEMBRO</option>
            {% endif %}
        </select>
        <label>Ambiente: </label>
        <select name="ambiente" >
            {% if ambiente == 'senai' %}
            <option value="senai" selected= "selected">SENAI</option>
            <option value="fieb">FIEB</option>
            {% else %}
            <option value="senai">SENAI</option>
            <option value="fieb" selected= "selected">FIEB</option>
            {% endif %}
        </select>
        <input style="margin-left: 50;" type="submit" class="button" value="OK" />
    </form>
    <div id="main" style="margin-bottom: 50px;">
        <table  width=1800 class="hosting">
            <tr bgcolor=#2e72af>
                    <th width=100>Casa</th>
                    <th width=100>JANEIRO</th>
                    <th width=110>FEVEREIRO</th>
                    <th width=75>MARÇO</th>
                    <th width=90>ABRIL</th>
                    <th width=75>MAIO</th>
                    <th width=100>JUNHO</th>
                    <th width=100>JULHO</th>
                    <th width=100>AGOSTO</th>
                    <th width=110>SETEMBRO</th>
                    <th width=100>OUTUBRO</th>
                    <th width=100>NOVEMBRO</th>
                    <th width=100>DEZEMBRO</th>
                    <th width=140>Média Mensal (R$)</th>
                    <th width=190>Previsão Anual (R$)</th>
                    <th width=110>Total (R$)</th>
            </tr>
            <tr id="row">
                <td align="center">SENAI</td>
                <td align="right">R$ {{ valor_mes.jan }}</td>
                <td align="right">R$ {{ valor_mes.fev }}</td>
                <td align="right">R$ {{ valor_mes.mar }}</td>
                <td align="right">R$ {{ valor_mes.abr }}</td>
                <td align="right">R$ {{ valor_mes.maio }}</td>
                <td align="right">R$ {{ valor_mes.jun }}</td>
                <td align="right">R$ {{ valor_mes.jul }}</td>
                <td align="right">R$ {{ valor_mes.ago }}</td>
                <td align="right">R$ {{ valor_mes.set }}</td>
                <td align="right">R$ {{ valor_mes.out }}</td>
                <td align="right">R$ {{ valor_mes.nov }}</td>
                <td align="right">R$ {{ valor_mes.dez }}</td>
                <td align="right">R$ {{ media }}</td>
                <td align="right">R$ {{ previsao }}</td>
                <td align="right">R$ {{ total }}</td>
            </tr>
            {% if ambiente == 'fieb' %}
            <tr id="row">
                <td align="center">FIEB</td>
                <td align="right">R$ {{ valor_fieb.jan }}</td>
                <td align="right">R$ {{ valor_fieb.fev }}</td>
                <td align="right">R$ {{ valor_fieb.mar }}</td>
                <td align="right">R$ {{ valor_fieb.abr }}</td>
                <td align="right">R$ {{ valor_fieb.maio }}</td>
                <td align="right">R$ {{ valor_fieb.jun }}</td>
                <td align="right">R$ {{ valor_fieb.jul }}</td>
                <td align="right">R$ {{ valor_fieb.ago }}</td>
                <td align="right">R$ {{ valor_fieb.set }}</td>
                <td align="right">R$ {{ valor_fieb.out }}</td>
                <td align="right">R$ {{ valor_fieb.nov }}</td>
                <td align="right">R$ {{ valor_fieb.dez }}</td>
                <td align="right">R$ {{ media_fieb }}</td>
                <td align="right">R$ {{ previsao_fieb }}</td>
                <td align="right">R$ {{ total_fieb }}</td>
            </tr>
            <tr id="row">
                <td align="center">IEL</td>
                <td align="right">R$ {{ valor_iel.jan }}</td>
                <td align="right">R$ {{ valor_iel.fev }}</td>
                <td align="right">R$ {{ valor_iel.mar }}</td>
                <td align="right">R$ {{ valor_iel.abr }}</td>
                <td align="right">R$ {{ valor_iel.maio }}</td>
                <td align="right">R$ {{ valor_iel.jun }}</td>
                <td align="right">R$ {{ valor_iel.jul }}</td>
                <td align="right">R$ {{ valor_iel.ago }}</td>
                <td align="right">R$ {{ valor_iel.set }}</td>
                <td align="right">R$ {{ valor_iel.out }}</td>
                <td align="right">R$ {{ valor_iel.nov }}</td>
                <td align="right">R$ {{ valor_iel.dez }}</td>
                <td align="right">R$ {{ media_iel }}</td>
                <td align="right">R$ {{ previsao_iel }}</td>
                <td align="right">R$ {{ total_iel }}</td>
            </tr>
            <tr id="row">
                <td align="center">SESI</td>
                <td align="right">R$ {{ valor_sesi.jan }}</td>
                <td align="right">R$ {{ valor_sesi.fev }}</td>
                <td align="right">R$ {{ valor_sesi.mar }}</td>
                <td align="right">R$ {{ valor_sesi.abr }}</td>
                <td align="right">R$ {{ valor_sesi.maio }}</td>
                <td align="right">R$ {{ valor_sesi.jun }}</td>
                <td align="right">R$ {{ valor_sesi.jul }}</td>
                <td align="right">R$ {{ valor_sesi.ago }}</td>
                <td align="right">R$ {{ valor_sesi.set }}</td>
                <td align="right">R$ {{ valor_sesi.out }}</td>
                <td align="right">R$ {{ valor_sesi.nov }}</td>
                <td align="right">R$ {{ valor_sesi.dez }}</td>
                <td align="right">R$ {{ media_sesi }}</td>
                <td align="right">R$ {{ previsao_sesi }}</td>
                <td align="right">R$ {{ total_sesi }}</td>
            </tr>
            {% endif %}
            <tr id="row">
                    <td align="center">SERVIÇO FIEB/SESI/IEL</td>
                    <td align="right">R$ {{ valor_mes_servicosFSI.jan }}</td>
                    <td align="right">R$ {{ valor_mes_servicosFSI.fev }}</td>
                    <td align="right">R$ {{ valor_mes_servicosFSI.mar }}</td>
                    <td align="right">R$ {{ valor_mes_servicosFSI.abr }}</td>
                    <td align="right">R$ {{ valor_mes_servicosFSI.maio }}</td>
                    <td align="right">R$ {{ valor_mes_servicosFSI.jun }}</td>
                    <td align="right">R$ {{ valor_mes_servicosFSI.jul }}</td>
                    <td align="right">R$ {{ valor_mes_servicosFSI.ago }}</td>
                    <td align="right">R$ {{ valor_mes_servicosFSI.set }}</td>
                    <td align="right">R$ {{ valor_mes_servicosFSI.out }}</td>
                    <td align="right">R$ {{ valor_mes_servicosFSI.nov }}</td>
                    <td align="right">R$ {{ valor_mes_servicosFSI.dez }}</td>
                    <td align="right">R$ {{ media_servicoFSI }}</td>
                    <td align="right">R$ {{ previsao_servicoFSI }}</td>
                    <td align="right">R$ {{ total_servicoFSI }}</td>
                </tr>
            <tr id="row">
                    <td align="center">SENAI SERVIÇOES</td>
                    <td align="right">R$ {{ valor_mes_servicos.jan }}</td>
                    <td align="right">R$ {{ valor_mes_servicos.fev }}</td>
                    <td align="right">R$ {{ valor_mes_servicos.mar }}</td>
                    <td align="right">R$ {{ valor_mes_servicos.abr }}</td>
                    <td align="right">R$ {{ valor_mes_servicos.maio }}</td>
                    <td align="right">R$ {{ valor_mes_servicos.jun }}</td>
                    <td align="right">R$ {{ valor_mes_servicos.jul }}</td>
                    <td align="right">R$ {{ valor_mes_servicos.ago }}</td>
                    <td align="right">R$ {{ valor_mes_servicos.set }}</td>
                    <td align="right">R$ {{ valor_mes_servicos.out }}</td>
                    <td align="right">R$ {{ valor_mes_servicos.nov }}</td>
                    <td align="right">R$ {{ valor_mes_servicos.dez }}</td>
                    <td align="right">R$ {{ media_servico }}</td>
                    <td align="right">R$ {{ previsao_servico }}</td>
                    <td align="right">R$ {{ total_servico }}</td>
                </tr>
                {% if ambiente == 'senai' %}
                <tr id="row">
                    <td align="center">NEAD (ÁREA DE NEGÓCIOS SENAI)</td>
                    <td align="right">R$ {{ valor_mes_nead.jan }}</td>
                    <td align="right">R$ {{ valor_mes_nead.fev }}</td>
                    <td align="right">R$ {{ valor_mes_nead.mar }}</td>
                    <td align="right">R$ {{ valor_mes_nead.abr }}</td>
                    <td align="right">R$ {{ valor_mes_nead.maio }}</td>
                    <td align="right">R$ {{ valor_mes_nead.jun }}</td>
                    <td align="right">R$ {{ valor_mes_nead.jul }}</td>
                    <td align="right">R$ {{ valor_mes_nead.ago }}</td>
                    <td align="right">R$ {{ valor_mes_nead.set }}</td>
                    <td align="right">R$ {{ valor_mes_nead.out }}</td>
                    <td align="right">R$ {{ valor_mes_nead.nov }}</td>
                    <td align="right">R$ {{ valor_mes_nead.dez }}</td>
                    <td align="right">R$ {{ total_nead }}</td>
                </tr>
                {% endif %}
                <tfooter>
                        <tr>
                            <td style="background-color: black; height: 10;"  colspan="14"></td>
                        </tr><tr id="row">
                                <td style="font-weight: bolder" align="center">TOTAL MÊS</td>
                                <td align="right">R$ {{ valor_mes_total.jan }}</td>
                                <td align="right">R$ {{ valor_mes_total.fev }}</td>
                                <td align="right">R$ {{ valor_mes_total.mar }}</td>
                                <td align="right">R$ {{ valor_mes_total.abr }}</td>
                                <td align="right">R$ {{ valor_mes_total.maio }}</td>
                                <td align="right">R$ {{ valor_mes_total.jun }}</td>
                                <td align="right">R$ {{ valor_mes_total.jul }}</td>
                                <td align="right">R$ {{ valor_mes_total.ago }}</td>
                                <td align="right">R$ {{ valor_mes_total.set }}</td>
                                <td align="right">R$ {{ valor_mes_total.out }}</td>
                                <td align="right">R$ {{ valor_mes_total.nov }}</td>
                                <td align="right">R$ {{ valor_mes_total.dez }}</td>
                                <td align="right">TOTAL<br/> R$ {{ total_geral }}</td>
                            </tr>
                    </footer>
                
        </table>
    </div>
    

    {% if ambiente == 'senai' %}
    <div style="margin-left: 300;" id="main" style="margin-bottom: 50px;">
        <form method="POST">{% csrf_token %}
        <table class="hosting">
            <tr bgcolor=#2e72af>
                    <th width=300>UNIDADE</th>
                    <th width=100>QUANTIDADE DE USUÁRIOS</th>
                    <th align="center" width=120>%</th>
                    <th width=75>TOTAL A PAGAR (R$)</th>
            </tr>
            {% for unidade in unidades %}
            <tr id="row">
                <td align="center">{{ unidade.unidade }}</td>
                <td align="center" > <div><input type="text" style="width: 50; text-align: center;border: none; background-color: rgb(212, 212, 212);" name="quantidade" value="{{ unidade.qtd }}"/></div></td>
                <td align="center">{{ unidade.porcentagem }}</td>
                <td width=150 align="right">R$ {{ unidade.valor }}</td>
            </tr>
            {% endfor %}
            <tr id="row">
                <td style="font-weight: border;" align="center">TOTAL</td>
                <td align="center">{{ total_user }}</td>
                <td align="center">100%</td>
                <td align="right">R$ {{ total_unidades }}</td>
            </tr>
        </table>
        <input type="submit" style="width: 75; height: 30;" class="button" value="Salvar"/>
        </form>
    </div>
    {% endif %}
    {% else %}
    <p>You are not logged in</p>
    <a class="button" href="{% url 'login' %}">Login</a>
    {% endif %}
    {% endblock %}
</body>
</html>