<style type="text/css">
    body {
        background-color: rgb(187, 184, 184);
        font-family: 'Courier New', Courier, monospace;
    }

    .button {
        background-color: rgb(113, 114, 113);
        border: none;
        color: white;
        padding: 8px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button:hover
    {
        background-color: rgb(196, 117, 124);
    }
</style>

<script>
    function goBack() {
        window.history.back();
    }
</script>

<body>
    <h1>Hosting Delete</h1>
    <form method="post" name="teste">{% csrf_token %}
        Are you sure you want to delete "{{ object.empresa }}" - "{{ object.server }}"?
        <input type="submit" class="button" value="OK" name="confirm_delete" />
        <button class="button" onclick="goBack()" name="cancel">Cancelar</button>
    </form>
</body>