<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title >Hosting-SENAI</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'hosting/style.css' %}">
        <link rel="icon" type="image/png" href="{% static "hosting/Logo_SENAICIMATEC.png" %}">
</head>

<body style="background-color:rgb(187, 184, 184); font-family: 'Courier New', Courier, monospace;">
    
    <p style="align-items: center;"><img src = "{% static "hosting/Logo_SENAICIMATEC.png" %}" alt = "Logo SENAI CIMATEC"  width="150"
    height="50" ></p>
    {% block content %}
    {% if user.is_authenticated %}
    <div class="topnav">
        <a class="active" href="{% url "hosting_list" %}">SENAI</a>
        <a href="{% url "hosting_fieb" %}">FIEB</a>
        <a href="{% url "servicos" %}">Serviços adicionais</a>
        <a href="{% url "tabela_preco" %}">Tabela de Preços</a>
        <a href="{% url "add_client" %}">Adicionar Cliente</a>
        <a href="{% url "financeiro_senai" %}">Financeiro</a>
        <a id="logout" href="{% url 'logout' %}">Logout</a>
        <div id="user">Bem vindo, {{ user.username }}</div>
    </div> 
    <h1>AMBIENTE SENAI</h1>
    <h2>{{ mes }}</h2>
    <form method="GET">{% csrf_token %} 
        <label style="margin-left: 50px;">Ordenar por: </label>
        <select name="ordem" style="border: thin; height: 22;">
            {% if ordena == 'crescente' %}
            <option value="data">Data de inserção</option>
            <option value="crescente" selected="selected">Valor Crescente</option>
            <option value="decrescente">Valor Decrescente</option>
            {% elif ordena == 'decrescente' %}
            <option value="data">Data de inserção</option>
            <option value="crescente">Valor Crescente</option>
            <option value="decrescente" selected="selected">Valor Decrescente</option>
            {% else %}
            <option value="data" selected="selected">Data de inserção</option>
            <option value="crescente">Valor Crescente</option>
            <option value="decrescente">Valor Decrescente</option>
            {% endif %}
        </select> 
        <label style="margin-left: 50px;">Meses anteriores: </label>
        <select name="meses" style="border: thin; height: 22;">
            {% if mes_selecionado == mes_atual %}
            <option value="{{ mes_atual }}" selected="selected">{{ mes_atual }}</option>
            <option value="{{ mes_anterior }}">{{mes_anterior}}</option>
            <option value="{{ mes_anterior2 }}">{{ mes_anterior2 }}</option>
            {% elif mes_selecionado == mes_anterior %}
            <option value="{{ mes_atual }}">{{ mes_atual }}</option>
            <option value="{{ mes_anterior }}" selected="selected">{{mes_anterior}}</option>
            <option value="{{ mes_anterior2 }}">{{ mes_anterior2 }}</option>
            {% else %}
            <option value="{{ mes_atual }}">{{ mes_atual }}</option>
            <option value="{{ mes_anterior }}">{{mes_anterior}}</option>
            <option value="{{ mes_anterior2 }}" selected="selected">{{ mes_anterior2 }}</option>
            {% endif %}
        </select> 
        <input type="submit" class="button" value="OK" />
        
        <div class="search-container">  
            {% if pesquisa is None %}
            <input type="text" placeholder="Search..." name="search">
            {% else %}
            <input type="text" placeholder="Search..." name="search" value="{{ pesquisa }}">
            {% endif %}
            <input type="submit" class="button" value="Pesquisar" />
            
        </div>
    </form>
    <br/>
    <div id="main" style="margin-bottom: 50px;">
        <table  width=1800 class="hosting">
            <tr bgcolor=#2e72af>
                    <th width=100>Empresa</th>
                    <th width=180>Server</th>
                    <th width=120>Descrição</th>
                    <th width=75>CPU</th>
                    <th width=90>Memória</th>
                    <th width=75>Disco</th>
                    <th width=130>Tipo de Máquina</th>
                    <th width=60>Tipo</th>
                    <th width=80>Perfil</th>
                    <th width=170>Recurso</th>
                    <th width=230>Valor de Tabela (R$)</th>
                    <th width=100>CPU Adicional</th>
                    <th width=170>Valor CPU Adional (R$)</th>
                    <th width=110>Memória Adicional</th>
                    <th width=190>Valor Memória Adicional (R$)</th>
                    <th width=110>Disco Adicional</th>
                    <th width=130>Valor Disco Adicional (R$)</th>
                    <th width=130>Valor Total (R$)</th>
            </tr>
            {% for hosting in hosting_list %}
                <tr id="row">
                        {% if hosting.hosting_senai %}
                        <td>{{ hosting.empresa }}</td>
                        <td>{{ hosting.server }}</td>
                        <td align="center">{{ hosting.descricao }}</td>
                        <td align="center">{{ hosting.cpu }}</td>
                        <td align="center">{{ hosting.memoria }}</td>
                        <td align="center">{{ hosting.disco }}</td>
                        <td align="center">{{ hosting.tipo_maq }}</td>
                        <td align="center">{{ hosting.tipo }}</td>
                        <td align="center">{{ hosting.perfil }}</td>
                        <td align="center">{{ hosting.recurso }}</td>
                        <td align="right">{{ hosting.valor_tabela }}</td>
                        <td align="center">{{ hosting.proc_adicional }}</td>
                        <td align="right">{{ hosting.valor_proc_adicional }}</td>
                        <td align="center">{{ hosting.memoria_adicional }}</td>
                        <td align="right">{{ hosting.valor_memoria_adicional }}</td>
                        <td align="center">{{ hosting.disco_adicional }}</td>
                        <td align="right">{{ hosting.valor_disco_adicional }}</td>
                        <td align="right">{{ hosting.valor_total }}</td>
                        <td align="center"><a class="remove" href="{% url "hosting_delete" hosting.id %}">x</a></td>
                        <td align="center"><a class="remove" href="{% url "hosting_edit" hosting.id %}">Editar</a></td>
                        {% endif %}
                </tr>
            {% empty %}
                <li>Nothing yet.</li>
            {% endfor %}
            <tfooter>
                <tr>
                    <td style="font-weight: bold;">Total Servidores</td>
                    <td align="center" style="font-weight: bold;">R$ {{ total }}</td>
                </tr>
            </footer>
        </table>
    </div>
    <div >
        <table  style="margin-left: 500; margin-top: 30px;" class="hosting">
            <TR bgcolor=#7778f0>
                <th colspan="2">PRECIFICAÇÃO DO AMBIENTE SENAI</th>
            </TR>
            <tr bgcolor=#2e72af>
                    <th width=100>CLIENTE</th>
                    <th width=180>TOTAL</th>
            </tr>
            {% for item in total_empresa %}
            <tr id="row" ></tr>
                <td > {{ item.empresa }}</td>
                <td align="right">R$ {{ item.valor }}</td>
            </tr>
            {% empty %}
                <li>Nothing yet.</li>
            {% endfor %}
            <tfooter>
                <tr>
                    <td style="font-weight: bold;">Total</td>
                    <td align="center" style="font-weight: bold;">R$ {{ total }}</td>
                </tr>
                <tr>
                    <td style="background-color: black;" colspan="2"></td>
                    
                </tr>
                <tr>
                    <td style="font-weight: bold;">Total por ANO</td>
                    <td align="center" style="font-weight: bold;">R$ {{ totalAno }}</td>
                </tr> 
            </footer>
        </table>
    </div>
    {% else %}
    <p>You are not logged in</p>
    <a class="button" href="{% url 'login' %}">Login</a>
    {% endif %}
    {% endblock %}
</body>

</html>
