<html lang="pt-br">
<head>
    <title>{{ titulo }}</title>
    {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'hosting/style.css' %}">
        <link rel="icon" type="image/png" href="{% static "hosting/Logo_SENAICIMATEC.png" %}">
</head>
<body>
    <h1>{{ titulo }}</h1>
    <form method="post">{% csrf_token %}
            {% if titulo == 'Edit' %}
                <p>
                    <label>Perfil: </label>
                    <select name="perfil">
                        {% if perfil == 'GOLD' %}
                        <option value="GOLD" selected="selected">GOLD</option>
                        <option value="PLATINUM">PLATINUM</option>
                        {% else %}
                        <option value="GOLD">GOLD</option>
                        <option value="PLATINUM" selected="selected">PLATINUM</option>
                        {% endif %}
                    </select> 
                </p>
                <p>
                    <label>Ambiente: </label>
                    <select name="ambiente" >
                        {% if ambiente == 'senai' %}
                        <option value="senai" selected="selected">SENAI</option>
                        <option value="fieb">FIEB</option>
                        {% else %}
                        <option value="senai">SENAI</option>
                        <option value="fieb" selected="selected">FIEB</option>
                        {% endif %}
                    </select> 
                </p>
                <p>
                    <label>Tipo de Máquina: </label>
                    <select name="maquina" >
                        {% if maq == 'Fisica' %}
                        <option value="virtual">Virtual</option>
                        <option value="fisico" selected="selected">Física</option>
                        {% else %}
                        <option value="virtual" selected="selected">Virtual</option>
                        <option value="fisico">Física</option>
                        {% endif %}
                    </select> 
                </p>
                {{ form.as_p }}
            {% else %}
                <p>
                    <label for="id_perfil">Perfil: </label>
                    <select id="id_perfil" name="perfil">
                        <!-- <option value="" >Escolha um perfil</option> -->
                        <option value="GOLD">GOLD</option>
                        <option value="PLATINUM">PLATINUM</option>
                    </select> 
                </p>
                <p>
                    <label>Ambiente: </label>
                    <select name="ambiente" >
                        <option value="senai">SENAI</option>
                        <option value="fieb">FIEB</option>
                    </select> 
                </p>
                <p>
                    <label>Tipo de Máquina: </label>
                    <select name="maquina" >
                        {% if maq == 'Virtual' %}
                        <option value="virtual" selected="selected">Virtual</option>
                        <option value="fisico">Física</option>
                        {% else %}
                        <option value="virtual">Virtual</option>
                        <option value="fisico" selected="selected">Física</option>
                        {% endif %}
                    </select> 
                </p>
                {{ form.as_p }}
            {% endif %}
            <input type="submit" class="button" value="OK" />
            <a class="button" href="{% url "add_client" %}">Cancelar</a>
    </form>
    
    
</body>
</html>