<html lang="pt-br">
<head>
    {% if ambiente == 'senai' %}
    <title >Serviçoes-SENAI</title>
    {% else %}
    <title >Serivços-FIEB</title>
    {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'hosting/style.css' %}">
    <link rel="icon" type="image/png" href="{% static "hosting/Logo_SENAICIMATEC.png" %}">
</head>
<body style="background-color:rgb(187, 184, 184); font-family: 'Courier New', Courier, monospace;">
    <p style="align-items: center;"><img src = "{% static "hosting/Logo_SENAICIMATEC.png" %}" alt = "Logo SENAI CIMATEC"  width="150"
        height="50" ></p>
    {% block content %}
    {% if user.is_authenticated %}
    <div class="topnav">
        <a href="{% url "hosting_list" %}">SENAI</a>
        <a href="{% url "hosting_fieb" %}">FIEB</a>
        <a class="active" href="{% url "servicos" %}">Serviços adicionais</a>
        <a href="{% url "tabela_preco" %}">Tabela de Preços</a>
        <a href="{% url "add_client" %}">Adicionar Cliente</a>
        <a href="{% url "financeiro_senai" %}">Financeiro</a>
        <a id="logout" href="{% url 'logout' %}">Logout</a>
        <div id="user">Bem vindo, {{ user.username }}</div>
    </div> 
    <h1>SERVIÇOES ADICIONAIS</h1>
    <h2>{{ mes }}</h2>
    <label style="margin-left: 600;">Ambientes:</label>
    <p>
        <form method="get">{% csrf_token %}
            {% if ambiente == 'senai' %}
            <input type="radio" name="ambiente" value="senai" style="margin-left: 570;" checked="True"> SENAI
            <input type="radio" name="ambiente" value="fieb"> FIEB 
            {% endif %}   
            {% if ambiente == 'fieb' %}
            <input type="radio" name="ambiente" value="senai" style="margin-left: 570;"> SENAI
            <input type="radio" name="ambiente" value="fieb" checked="True"> FIEB
            {% endif %}
            <input type="submit" class="button" value="OK" />   
        </form>
    </p>
    <br/>
    <div style="margin-left: 300; margin-top: -10px;">
        <table width=700  class="hosting">
            <TR bgcolor=#7778f0>
                <th colspan="7">SERVIÇÕES ADICIONAIS</th>
            </TR>
            <tr bgcolor=#2e72af>
                    <th>CASA</th>
                    <th width=100>DESCRIÇÃO</th>
                    <th width=180>TICKET</th>
                    <th width=100>DURAÇÃO</th>
                    <th width=180>OBSERVAÇÃO</th>
                    <th width=100>RESPONSÁVEL</th>
                    <th width=180>VALOR</th>
            </tr>
            {% for item in servico_list %}
            <tr id="row" ></tr>
                <td>{{ item.casa }}</td>
                <td > {{ item.descricao }}</td>
                <td align="right"> {{ item.ticket }}</td>
                <td align="right"> {{ item.duracao }}</td>
                <td align="right"> {{ item.observacao }}</td>
                <td align="right"> {{ item.responsavel }}</td>
                <td align="right">R$ {{ item.valor }}</td>
                <td align="center"><a class="remove" href="{% url "servicos_delete" item.id %}">x</a></td>
                <td align="center"><a class="remove" href="{% url "servicos_edit" item.id %}">Editar</a></td>
            </tr>
            {% empty %}
                <li>Nothing yet.</li>
            {% endfor %}
            <tfooter>
                <tr>
                    <td style="font-weight: bold;">Total</td>
                    <td align="center" style="font-weight: bold;">R$ {{ total_servico }}</td>
                </tr>
            </footer>
        </table>
        </div>
        <div style="margin-left: 100; margin-top: 50px;">
                <table  class="hosting">
                    <TR bgcolor=#7778f0>
                        <th colspan="6">BACKUP DE DADOS</th>
                    </TR>
                    <tr bgcolor=#2e72af>
                            <th>CASA</th>
                            <th width=100>DESCRIÇÃO</th>
                            <th width=180>VALOR UNITÁRIO</th>
                            <th width=100>VOLUME ARMAZENAMENTO(EM GB)</th>
                            <th width=180>QUANTIDADE</th>
                            <th width=210>VALOR BACKUP</th>
                    </tr>
                    {% for item in backup_list %}
                    <tr id="row" ></tr>
                        <td>{{ item.casa }}</td>
                        <td> {{ item.descricao }}</td>
                        <td align="center"> {{ item.valorUnitario }}</td>
                        <td align="center"> {{ item.volume }}</td>
                        <td align="center"> {{ item.quantidade }}</td>
                        <td align="right">R$ {{ item.valor }}</td>
                        <td align="center"><a class="remove" href="{% url "backup_delete" item.id %}">x</a></td>
                        <td align="center"><a class="remove" href="{% url "backup_edit" item.id %}">Editar</a></td>
                    </tr>
                    {% empty %}
                        <li>Nothing yet.</li>
                    {% endfor %}
                    <tfooter>
                        <tr>
                            <td style="font-weight: bold;">Total</td>
                            <td align="center" style="font-weight: bold;" width=300>R$ {{ total_backup }}</td>
                        </tr>
                    </footer>
                </table>
                </div>
                <div >
                        <table  style="margin-left: 500; margin-top: 60px;" class="hosting">
                            <TR bgcolor=#7778f0>
                                <th colspan="2">TOTAL SERVIÇO</th>
                            </TR>
                            <tr bgcolor=#2e72af>
                                    <th width=100>CASA</th>
                                    <th width=180>VALOR MENSAL</th>
                            </tr>
                            <tr id="row" ></tr>
                                <td >SENAI</td>
                                <td align="right">R$ {{ casa_senai }}</td>
                            </tr>
                            <tr id="row" ></tr>
                                <td >SESI</td>
                                <td align="right">R$ {{ casa_sesi }}</td>
                            </tr>
                            <tr id="row" ></tr>
                                <td >FIEB</td>
                                <td align="right">R$ {{ casa_fieb }}</td>
                            </tr>
                            <tr id="row" ></tr>
                                <td >IEL</td>
                                <td align="right">R$ {{ casa_iel }}</td>
                            </tr>
                            <tfoot>
                                    <tr><td style="background-color: black;" colspan="2"></td></tr>
                                    <tr>
                                            <td align="center" style="font-weight: bold; color: black;" width=300 colspan="2">Valor total de Serviços adicionais: R$ {{ total_adicionais }}</td>
                                    </tr>
                            </tfoot>
                        </table>
                    </div>

                    <label></label>
    {% else %}
    <p>You are not logged in</p>
    <a class="button" href="{% url 'login' %}">Login</a>
    {% endif %}
    {% endblock %}
</body>
</html>